AWSDB_ROOT_USER="root"
AWSDB_ROOT_PASSWORD="MySecurePassword123!"
GOOGLEDB_ROOT_USER="root"
GOOGLEDB_ROOT_PASSWORD="MySecurePassword123!"
AZUREDB_ROOT_USER="root"
AZUREDB_ROOT_PASSWORD="MySecurePassword123!"

# Wrap values containing '#' in double quotes (otherwise the rest is treated as a comment)
AZURE_APPGW_SSL_CERT_PASSWORD=
GOOGLE_AZURE_VPN_PRESHARED_KEY=
ECS_WORKER_POSTGRES_PASSWORD=
