AWSDB_ROOT_USER="root"
AWSDB_ROOT_PASSWORD="MySecurePassword123!"
GOOGLEDB_ROOT_USER="root"
GOOGLEDB_ROOT_PASSWORD="MySecurePassword123!"
AZUREDB_ROOT_USER="root"
AZUREDB_ROOT_PASSWORD="MySecurePassword123!"

